@import 'variables';

.event-button {
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 15px;
  border-radius: 10px;
  background-color: $flock-peach;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $flock-red;
  }
  color: black;
}
