@import 'variables';

.event {
  display: flex;
  justify-content: center;
}

.event-background {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 100px;
}

.event-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;

  .event-details {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    background-color: lightgrey;
    text-align: center;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }

    .owner-profile {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  .event-description {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 40px;
    background-color: lightgrey;
  }
  .event-guests {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    background-color: lightgrey;
    text-align: center;

    .guest-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      .guest-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        transition: filter 0.2s ease;
        &:hover{
          background-color: $flock-yellow;
        }
        .guest-img {
          width: 100px;
          height: 100px;
        }
        .guest-name {
          font-size: 20px;
        }
      }
    }
  }
}

.event-banner {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 50px;
  font-size: 50px;
  color: white;
  background-color: $flock-indigo;
}

.event-nav {
  display: flex;
  margin: 20px;
  justify-content: center;
}
