@import 'variables';

.event {
  display: flex;
  justify-content: center;
  background: url(http://res.cloudinary.com/dvylj9hyw/image/upload/e_blur:400,b_white,o_40/v1501194953/group_banner.jpg);
}

.event-background {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 100px;
}

.event-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .event-details {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    border-right: 1px solid $flock-darkgrey;
    background-color: transparent;
    text-align: center;

    h1 {
      font-size: 30px;
    }

    p {
      margin: 10px;
      font-size: 15px;
    }

    .owner-profile {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  .event-description {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    padding: 40px;
    background-color: transparent;

    p {
      margin: 10px;
      font-size: 15px;
    }
  }
  .event-guests {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    border-left: 1px solid $flock-darkgrey;
    background-color: transparent;
    text-align: center;
  }
}

.event-banner {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 50px;
  font-size: 50px;
  color: white;
  background-color: $flock-blue;
}

.event-nav {
  display: flex;
  margin: 20px;
  justify-content: center;

}
