@import 'variables';

.user-background {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin: 20px;
  padding: 50px;
  background-color: $flock-indigo;
  color: white;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    .user-img {
      display: flex;
      width: 200px;
      height: auto;
    }

    .user-name{
      display:flex;
      font-size: 30px;
    }


  }

  .user-bio {
    width: 50%;
    text-align: center;
    font-size: 30px;

    .user-location {
      display: flex;
      flex-direction: column;
      margin: 20px;
      background-color: $flock-sky;
      color: white;
    }

    .user-about {
      display: flex;
      flex-direction: column;
      margin: 20px;
      background-color: $flock-sky;
      color: white;
    }

    h1 {
      font-size: 30px;
      margin: 10px;
    }

    p {
      font-size: 15px;
      margin: 10px;
    }
  }
}

.user-groups-header {
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.user-group-list {
  margin: 20px;
  padding: 50px;
  width: 50%;
  background-color: lightgrey;

  ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .group-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 10px;
      width: 350px;
      height: 250px;
    }
  }
}

.user-nav {
  display: flex;
  margin: 40px;
  justify-content: center;
}

.button {
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
  background-color: $flock-blue;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $flock-indigo;
  }
  color: white;
}
