@import 'variables';

.profile-background {

}

.profile-bio {
  margin: 20px;
  padding: 100px;
  background-color: lightgrey;
}

.profile-group-list {
  margin: 20px;
  padding: 100px;
  background-color: lightgrey;
}
