@import 'variables';

.profile-background {
  margin-top: 100px;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 50px;
  background-color: lightgrey;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    .profile-img {
      display: flex;
      width: 200px;
      height: auto;
    }

    .profile-name{
      display:flex;
      font-size: 30px;
    }
  }

  .profile-bio {
    width: 50%;
    text-align: center;
    font-size: 30px;

    .profile-location {
      display: flex;
      flex-direction: column;
      margin: 20px;
      justify-content: center;
      background-color: white;
    }

    .profile-about {
      display: flex;
      margin: 20px;
      justify-content: center;
      background-color: white;
    }
  }
}

.profile-groups-header {
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.profile-group-list {
  margin: 20px;
  padding: 100px;
  background-color: lightgrey;

  ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .group-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 10px;
      width: 350px;
      height: 250px;
    }
  }
}

.profile-nav {
  display: flex;
  margin: 40px;
  justify-content: center;
}

.button {
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
  background-color: $flock-blue;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $flock-indigo;
  }
  color: white;
}
