@import 'variables';

.mainBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;

  background: url(http://res.cloudinary.com/dvylj9hyw/image/upload/b_black,o_40/v1501174554/banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 350px;
    padding-bottom: 120px;

    font-size: 40px;
    text-align: center;

    color: white;
  }

  .banner-button {
    padding: 15px;
    margin-top: 30px;
    width: 150px;
    border-radius: 5px;

    font-size: 15px;
    text-decoration: none;
    background-color: $flock-grey;
    transition: filter 0.2s ease;
    &:hover{
      background-color: $flock-blue;
    }
    color: white;
  }
}
