@import 'variables';

.mainNav {
  overflow: hidden;
  position: fixed;
  width:100%;
  height: 80px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $flock-yellow;

  .groupNav {
    display: flex;
    width: 33.3333%;
    margin-left: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .homeNav {
    display: flex;
    width: 33.3333%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    .logo {
      width: 100px;
      height: auto;
    }
  }

  .button1 {
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: $flock-sky;
    transition: filter 0.2s ease;
    &:hover{
      background-color: $flock-indigo;
    }
    color: white;
  }

  .button2 {
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: $flock-blue;
    transition: filter 0.2s ease;
    &:hover{
      background-color: $flock-indigo;
    }
    color: white;
  }

  .authNav {
    display: flex;
    margin-right: 20px;
    width: 33.333%;
    font-size: 15px;
    align-items: center;
    justify-content: flex-end;
  }
}
