@import 'variables';

.category-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url(http://res.cloudinary.com/dvylj9hyw/image/upload/b_black,o_40/v1501174554/banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .category-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 250px;
    height: 500px;
    width: 100%;
    background-color: rgba(30,38,36,0.5);

    .category-group-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      overflow: auto;

      .category-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size: 30px;
        width: 200px;
        padding: 10px;
        color: white;
      }

      .category-groups {
        display: flex;
        justify-content: flex-start;
        margin-top: 50px;

        .group-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 5px;
          margin: 5px;
          background-color: $flock-darkgrey;

          .group-img {
            width: 300px;
            height: 200px;
          }

          .group-text {
            color: white;
          }
        }
      }
    }
  }
}
