@import 'variables';

.category-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url(http://res.cloudinary.com/dvylj9hyw/image/upload/b_black,o_40/v1501174554/banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .category-container {
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);

    .category-group-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      .category-header {

      }
    }
  }
}
