@import 'variables';

.group-form-background {
  background-color: whitesmoke;
}

.group-form-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid gray;
}

.group-form {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group-input {
  margin-left: 10px;
  background-color: white;
}

.group-form-button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border-radius: 60px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  background-color: $flock-grey;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $flock-blue;
  }
  color: white;
}
