@import 'variables';

.group-form-background {
  background-color: whitesmoke;
}

.group-form-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid gray;
}

.group-form {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group-input {
  margin-left: 10px;
  background-color: white;
}

.group-button {
  text-align: center;
  height: 50px;
  width: 200px;
  margin-top: 40px;
  font-size: 15px;
  border-radius: 10px;
  background-color: $flock-blue;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $flock-indigo;
  }
  color: white;
}
