@import 'variables';

.group {
  display: flex;
  justify-content: center;
}

.group-background {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 100px;
}

.group-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;

  .group-details {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    background-color: lightgrey;
    text-align: center;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }

    .owner-profile {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  .group-events {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 40px;
    background-color: lightgrey;

    .event-detail {
      display: flex;
      justify-content: center;
      margin: 20px;
      padding: 20px;
      background-color: $flock-grey;
    }

    .event-name {
      font-size: 20px;
    }
  }
  .group-members {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    background-color: lightgrey;
    text-align: center;

    .member-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      .member-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        transition: filter 0.2s ease;
        &:hover{
          background-color: $flock-peach;
        }
        .member-img {
          width: 100px;
          height: 100px;
        }
        .member-name {
          font-size: 20px;
        }
      }
    }
  }
}

.group-banner {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 50px;
  font-size: 50px;
  color: white;
  background-color: $flock-blue;
}

.group-nav {
  display: flex;
  margin: 20px;
  justify-content: center;
}
