@import 'variables';

.group-background {
  margin-top: 100px;
}

.group-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  .group-details {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    background-color: lightgrey;
  }

  .group-events {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 40px;
    background-color: lightgrey;
  }
  .group-members {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    background-color: lightgrey;
    text-align: center;

    .member-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      .member-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        transition: filter 0.2s ease;
        &:hover{
          background-color: $flock-yellow;
        }
        .member-img {
          width: 100px;
          height: 100px;
          background-color: lightgrey;
        }
        .member-name {
          font-size: 20px;
        }
      }
    }
  }
}

.group-banner {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 50px;
  font-size: 50px;
  color: white;
  background-color: $flock-indigo;
}

.group-nav {
  display: flex;
  margin: 20px;
  justify-content: center;
}
