.mainNav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: baseline;
}

.homeNav {
  display: flex;
  align-items: baseline;
}

.logo {
  width: 100px;
  height: 100px;
}
