<!DOCTYPE html>
<html>
  <head>
    <title>Flock</title>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMc9Vwf_2R_o2gkB6AdoCzDOl7DK4FlII"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="http://res.cloudinary.com/dvylj9hyw/image/upload/e_outline:15:200,co_black/v1501176847/main/logo_1.png" rel="shortcut icon"/>
    <script src="https://use.fontawesome.com/a26ad5bb3b.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
